@page "{tid}"
@model ZelisTrainingRazorWebApp.Pages.Trainers.DeleteModel
@using ZelisTrainingLibrary;
@{
}
<h2>Delete Trainer</h2>
<label asp-for="Trainer.TrainerId">Trainer Id: </label>
@Model.Trainer.TrainerId
<br />
<label asp-for="Trainer.TrainerName">TrainerName: </label>
@Model.Trainer.TrainerName

<br />
<label asp-for="Trainer.TrainerType">Trainer Type: </label>
@Model.Trainer.TrainerType
<br />
<label asp-for="Trainer.Email">Email: </label>
@Model.Trainer.Email
<br />
<label asp-for="Trainer.Phone">Phone: </label>
@Model.Trainer.Phone

<br />
<form method="post">
    <input type="submit" value="Delete" />
</form>
<a href="/Trainers/Index">Back to List</a>




