@page "{tid}"
@model ZelisTrainingRazorWebApp.Pages.Trainings.DeleteModel
@using ZelisTrainingLibrary;
@{
}
<h2>Delete Training</h2>
<label asp-for="Training.TrainingId">Training Id: </label>
@Model.Training.TrainingId
<br />
<label asp-for="Training.TrainerId">TrainerId: </label>
@Model.Training.TrainerId

<br />
<label asp-for="Training.TechnologyId">TechnologyId: </label>
@Model.Training.TechnologyId
<br />
<label asp-for="Training.StartDate">StartDate: </label>
@Model.Training.StartDate
<br />
<label asp-for="Training.EndDate">EndDate: </label>
@Model.Training.EndDate

<br />
<form method="post">
    <input type="submit" value="Delete" />
</form>
<a href="/Trainings/Index">Back to List</a>





