@page "{tid}"
@model ZelisTrainingRazorWebApp.Pages.Trainings.DetailsModel
@using ZelisTrainingLibrary;
@{
}
<h2>Training Details</h2>
<label asp-for="Training.TrainingId">Training Id:</label>
@Model.Training.TrainingId
<br />
<label asp-for="Training.TrainerId">Trainer Id:</label>
@Model.Training.TrainerId
<br />
<label asp-for="Training.TechnologyId">TechnologyId:</label>
@Model.Training.TechnologyId
<br />
<label asp-for="Training.StartDate">StartDate:</label>
@Model.Training.StartDate

<br />
<label asp-for="Training.EndDate">EndDate:</label>
@Model.Training.EndDate

<br />
<a href="/Trainings/Index">Back to List</a>



