@page
@model ZelisTrainingRazorWebApp.Pages.Employees.IndexModel
@using ZelisTrainingLibrary;
@using ZelisTrainingLibrary.Models
@{
}
<a class="nav-link text-dark" asp-area="" asp-page="/Employees/Create">Create Employee</a>
<br />
<h2>List of Employees</h2>
<table border="1" class="table table-striped">
    <thead>
        <tr>
            <th>Emp Id</th>
            <th>EmpName</th>
            <th>Designation</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee emp in Model.employees)
        {
            <tr>
                <td>@emp.EmpId</td>
                <td>@emp.EmpName</td>
                <td>@emp.Designation</td>
                <td>@emp.Email</td>
                <td>@emp.Phone</td>
                <td><a href="/Employees/Details/@emp.EmpId">Details</a></td>
                <td><a href="/Employees/Edit/@emp.EmpId">Edit</a></td>
                <td><a href="/Employees/Delete/@emp.EmpId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>